---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"

import { getCollection, getEntry } from "astro:content"

const allBlogPosts = await getCollection("blog")
// const team = await getEntry("blog")

console.log(allBlogPosts)
---

<Layout title="Welcome to Blog 2.0">
  <div class="flex gap-4 container justify-center mx-auto">
    {
      allBlogPosts?.map((item) => {
        return <Card body={item.body} data={item.data} />
      })
    }
  </div>
</Layout>

<style></style>
