---
interface Props {
  id?: string
  slug?: string
  body: string
  collection?: string
  data: any
}

const { body, data } = Astro.props
---

<div
  class="flex bg-slate-300 container justify-center mx-auto p-4 flex-col shadow-lg"
>
  <div class="flex justify-center font-bold font-Kanit">
    {data?.title}
  </div>
  <div class="h-[400px] py-4 font-Kanit flex justify-center flex-col mx-auto">
    {body}
    <img
      alt="logo"
      src={data?.image}
      class="w-[300px] h-[300px] bg-cover mx-auto mt-4"
    />
  </div>
</div>
